* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: var(--white-200);
  font-family: "Rubik", sans-serif;
}
.header__nav--top {
  padding: 15px var(--container-padding);
}
.header__nav--top-left .header__total:hover {
  color: var(--green-50);
}
.header__nav--top .header__nav--top-left {
  font-size: 12px;
}
.header__nav--top .header__nav--top-left span {
  margin-right: 5px;
}
.header__nav--top-left .header__total:hover  {
  cursor: pointer;
  color: var(--green-50)
}
.header__nav--top-left .account {
  display: none;
}
.header__nav--top {
  display: flex;
  align-items: center;
  background-color: var(--black-500);
  justify-content: space-between;
  color: var(--black-50);
  font-weight: 300;
}
.header__nav--top-right__language {
  position: relative;
}
.header__nav--top-right__language-sub {
  position: absolute;
  top: 38px;
  right: 0;
  border: 0.3px solid var(--black-600);
  z-index: 1;
  background-color: var(--white);
  transition: 0.5s ease;
  opacity: 0;
  visibility: hidden;
}
.header__nav--top-right__language-text span {
  font-size: 12px;
}
.header__nav--top-right__language-sub .list-group-item {
  padding-right: 70px;
}
.header__nav--top-right__language-text:hover
  ~ .header__nav--top-right__language-sub {
  z-index: 100;
  transform: translateY(-5px);
  opacity: 1;
  visibility: visible;
}

.header__nav--top-right--item {
  cursor: pointer !important;
}
.header__nav--top-right--item i {
  font-size: 10px;
}
.header__nav--top-right--item span {
  font-size: 12px;
}
.header__nav--top-right--item:hover span {
  color: var(--green-50) !important;
}

.header__nav--top-right__language-sub li {
  display: flex;
  padding: 10px;
  border: 0.3px solid var(--black-600);
}

.header__nav--top-right__curr {
  position: relative;
}
.header__nav--top-right__curr-sub {
  position: absolute;
  border: 0.3px solid var(--black-200);
  top: 60px;
  border-width: 0.4px;
  z-index: 2;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--white);
  font-size: 14px;
  visibility: hidden;
}
.header__nav--top-right__curr-sub li {
  display: flex;
  padding: 10px 100px 10px 10px;
  border: 0.3px solid var(--black-600);
  width: max-content;
}
.header__nav--top-right__curr:hover > .header__nav--top-right__curr-sub {
  z-index: 100;
  opacity: 1;
  transform: translateY(-28px);
  visibility: visible;
}
.header__nav--top-right__language-sub li img {
  margin-right: 10px;
}
.header__nav--top-right > div {
  margin-right: 15px;
}
.header__nav--top-right {
  display: flex;
}
.header__nav--bottom {
  padding: 20px var(--container-padding);
  display: flex;
}
.header__item {
  margin-right: 30px;
}
.header__nav--bottom-left {
  display: flex;
  align-items: center;
}
.header__nav--bottom-left--phone {
  display: flex;
  align-items: center;
}
.header__nav--bottom-left--phone .phone__text p:nth-child(1) {
  color: var(--black-100);
  font-size: 13px;
  font-weight: 300;
}
.phone__text .menu {
  display: none;
}
.header__nav--bottom-left--phone i {
  font-size: 25px;
  color: var(--green-50);
}
.header__nav--bottom-left--phone p:nth-child(1) {
  font-size: 18px;
}
.header__nav--bottom-left--phone p:nth-child(2) {
  font-size: 16px;
  margin-top: 3px;
}
.header__nav--bottom-right {
  display: flex;
  align-items: center;
}
.header__nav--bottom-right i {
  font-size: 28px;
  color: var(--black-50);
}

.header__nav--bottom-center {
  width: 50%;
  position: relative;
}
.header__nav--bottom-center--search {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.header__nav--bottom-center--input input {
  width: 100%;
  font-size: 12px;
  height: 50px;
  border-radius: 100px;
  border: 0.4px solid var(--black-50);
  padding: 20px;
  outline: none;
  border: 0.5px solid var(--black-300);
  color: var(--black-50);
}
.header__nav--bottom-right .number {
  position: absolute;
  top: -6px;
  right: -15px;
  background-color: var(--green-50);
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 100%;
  background-color: var(--green-50);
  color: white;
}
.header__nav--bottom-center--catergories {
  display: flex;
  align-items: center;
  line-height: 50px;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #f9f9f9;
}
.header__nav--bottom-center--catergories-text {
  color: var(--black-50);
  font-size: 12px;
}
.header__nav--bottom-center--catergories-icon i {
  font-size: 12px;
  color: var(--black-50);
  margin-left: 80px;
}
.list-cate {
  position: absolute;
  width: 100%;
  padding-left: 4px;
  bottom: -240px;
  height: 240px;
  overflow-y: scroll;
  right: 0;
  display: none;
  background-color: var(--white);
  font-size: 14px;
}
.list-cate li:nth-child(1) {
  background-color: var(--green-50);
  color: var(--white);
}
.list-cate li {
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  color: var(--black-50);
  font-weight: 300;
}
.list-cate li:hover {
  background-color: var(--green-50);
  color: var(--white);
}
.header__nav--bottom-right--total {
  width: max-content;
  font-size: 13px;
}
.header__nav--bottom-right--total p:nth-child(1) {
  color: var(--black-50-cart);
  font-weight: 300;
  margin-bottom: 2px;
}
.header__nav--bottom-right--total p:nth-child(2) {
  color: var(--black-50-cart);
  font-size: 16px;
}
.header__nav--bottom-right .item {
  position: relative;
  display: flex;
  align-items: center;
}

.header__nav--bottom-center--icon {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 100%;
  color: var(--black-50);
  padding: 0;
}
.header__nav--bottom-center--icon:hover {
  border-radius: 100%;
  background-color: var(--green-50);
  color: var(--white);
  cursor: pointer;
  transition: 0.5s ease;
}
.header__nav--bottom-center--catergories:hover > div {
  color: var(--green-50);
  cursor: pointer;
}

.header__nav--bottom-center--catergories {
  cursor: pointer;
}
.header__nav--bottom-center--catergories:hover .list-cate {
  display: block;
  z-index: 9999999 !important;
}
/* HEADER TOP */
.header__top {
  border-top: 1px solid var(--black-600);
  padding: 0 var(--container-padding);
  position: relative;
}
.header__top .header__top--menu {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.header__top .header__top--menu li {
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
  color: var(--black-400);
  font-size: 15px;
  font-weight: 500;
}
.header__top--menu .home {
  display: flex;
  color: var(--green-50);
  position: relative;
  cursor: pointer;
}
.header__top--menu .header__top--menu-item--text {
  margin: 0 8px;
  color: var(--green-50);
}
.header__top--menu-item--house {
  color: var(--black-50);
}
.header__top--menu-item--down {
  font-size: 10px;
  color: var(--green-50);
}
.header__top--menu .device {
  width: 1px;
  height: 50px;
  border-right: 1px solid var(--black-600);
}
.header__top--menu .home .home__sub {
  position: absolute;
  width: 200px;
  top: 50px;
  border: 1px solid var(--black-600);
  padding: 20px 40px;
  transform: translateY(10px);
  transition: 0.4s ease;
  opacity: 0;
}
.header__top--menu .home .home__sub li:hover {
  color: var(--green-50);
  cursor: pointer;
}
.header__top--menu .home .home__sub li {
  display: block;
  height: 35px;
  color: var(--black-100);
  font-size: var(--font--size-sub);
}
.header__top--menu .home:hover .home__sub {
  display: block;
  background-color: var(--white);
  z-index: 100;
  transform: translateY(0);
  opacity: 1;
}

.interior__sub--content,
.exterior__sub--content,
.performance__sub--content,
.lighting__sub--content {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--black-600);
  background-color: var(--white);
}
.header__top--menu-item .interior__sub,
.header__top--menu-item .exterior__sub,
.header__top--menu-item .performance__sub,
.lighting__sub,
.wheels__sub,
.product__sub {
  width: 100%;
  height: 300px;
  position: absolute;
  transform: translateY(10px);
  transition: 0.4s ease;
  left: 0;
  padding: 0 var(--container-padding);
  opacity: 0;
  z-index: 99;
  visibility: hidden;
}

.interior__sub--content-inner,
.exterior__sub--content-inner,
.performance__sub--content-inner {
  display: flex;
  align-items: center;
  color: var(--black-100);
  font-weight: 300;
  font-size: var(--font--size-sub);
  background-color: var(--white);
  float: right;
  width: calc(100% / 5);
  padding-left: 20px;
}
.interior__sub--content-inner img,
.exterior__sub--content-inner img,
.performance__sub--content-inner img {
  width: 100px;
  margin-right: 10px;
}
.exterior__sub--content-inner span,
.performance__sub--content-inner span {
  font-weight: 300;
}
.header__top .interior:hover .interior__sub {
  display: block;
  z-index: 100;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.header__top--menu-item .text {
  cursor: pointer;
  transition: 0.4s ease;
}

.header__top--menu-item .text:hover {
  color: var(--green-50);
}
.header__top .performance:hover .performance__sub {
  display: block;
  z-index: 100;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.header__top .wheels:hover .wheels__sub {
  display: block;
  z-index: 9999;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.header__top .exterior:hover .exterior__sub {
  display: block;
  z-index: 100;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.lighting__sub--content-inner {
  margin-right: 250px;
  line-height: 35px;
}
.header__top .lighting:hover .lighting__sub {
  display: block;
  opacity: 1;
  transform: translateY(0);
  z-index: 100;
  visibility: visible;
}
.lighting__sub--content-inner span {
  font-weight: 600;
}
.lighting__sub--content-inner p {
  color: var(--black-100);
  font-size: var(--font--size-sub);
  font-weight: 300;
}

.wheels__sub .wheels__sub--content-inner img {
  width: 82px;
  margin-right: 20px;
}
.wheels__sub--content-innter-wrap {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid var(--black-600);
  margin-right: 30px;
  border-radius: 4px;
}
.wheels__sub--content,
.product__sub--content {
  display: flex;
  border: 1px solid var(--black-600);
  padding: 0 20px;
  background-color: var(--white);
}
.wheels__sub--content-items,
.product__sub--content {
  display: flex;
}
.wheels__sub--content-inner {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.wheels__sub--content-inner span {
  font-weight: 600;
  font-size: 16px;
}

.wheels__sub--about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wheels__sub--about img {
  margin: 20px 0;
}
.description {
  line-height: 20px;
  color: var(--black-100);
  margin-bottom: 30px;
  font-weight: 300;
}
.wheels__sub .wheels__sub--content-inner--description-name {
  color: var(--blue-100);
}
.wheels__sub .wheels__sub--content-inner--description-price {
  font-size: 20px;
  color: var(--black-100);
  font-weight: 300;
}
.product:hover .product__sub {
  display: block;
  z-index: 100;
}

.product__sub--content-item img {
  height: 300px;
}
.header__nav--bottom-2 {
  display: none;
}

.page .page__sub {
  position: absolute;
  background-color: var(--white);
  z-index: 1000;
  line-height: 30px;
  padding: 15px 70px 15px 15px;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.5s ease;
  font-weight: 300;
  font-size: 14px;
  color: #000;
}
.header__top--menu-item:hover .page__sub {
  z-index: 100;
  opacity: 1;
  transform: translateY(-1px);
}

.header__top--menu-item .page__sub div:hover {
  color: var(--green-50);
  cursor: pointer;
}
.header__nav--top-left .account .fa-user {
  display: none;
}

/* HEADER RESPONSIVE */
/* Small screens, laptops */

@media (max-width: 1024px) {
  .padding__content {
    padding: 0 20px !important;
    margin-top: 40px;
  }
  .header__nav--bottom {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .header__nav--top-right--item .wish {
    display: none;
  }
  .header__nav--top-left .account {
    display: block;
    position: relative;
  }
  .header__nav--top-left .wish {
    display: none;
  }
  .header__nav--top-left {
    padding: 15px 0px;
  }
  .header__nav--top-left .account__option {
    position: absolute;
    top: 28px;
    z-index: 1;
    background-color: white;
    border: 1px solid var(--black-600);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: 0.5s ease;
  }
  .header__nav--top-left .account__option .account__option--item {
    border-top: 1px solid var(--black-50);
    width: 100%;
    font-size: 14px;
    white-space: nowrap;
    padding: 10px 70px 10px 10px;
  }

  .header__nav--top-left:hover .account__option {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .header__nav--bottom .menu {
    display: block;
    color: var(--black-100) !important;
  }
  .header__nav--bottom .menu i {
    color: var(--black-100) !important;
  }
  .header__nav--bottom-left .phone__text p,
  .phone__icon {
    display: none;
  }
  .header__nav--bottom-right--total {
    display: none;
  }
  .header__item {
    margin-right: 10px;
  }
  .header__nav--bottom-center--catergories-icon i {
    margin-left: 20px;
  }

  .header__nav--bottom-center--input input {
    border-radius: 1px;
  }
  .header__nav--bottom-center {
    width: 450px;
  }
  .phone__text .menu i {
    padding: 5px 8px;
    border: 1px solid black;
  }
  .header__top {
    display: none;
  }
}
/*  iPads, Tablets */
@media (max-width: 768px) {
  .header__nav--top-left .account {
    display: flex;
    align-items: center;
  }
  .header__nav--top-left .account .fa-user {
    display: block;
  }
  .header__nav--top-left .account .account___text,
  .header__nav--top-right__auth,
  .last__dive {
    display: none;
  }
  .padding__content {
    padding: 0 15px !important;
  }
  .trending__product--title span {
    display: none;
  }
  .trending___product--container .trending__product--title div {
    font-size: 20px !important;
    border-bottom: none !important;
  }
  .header__nav--bottom {
    display: none;
  }
  .header__nav--bottom-2 {
    display: block;
    margin: 20px 0;
  }
  .header__nav--bottom-2 .header__nav--bottom-left {
    display: flex;
    justify-content: space-between;
  }
  .header__nav--bottom-center {
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
  .header__nav--bottom-center--input {
    width: 100%;
    margin-top: 20px;
  }

  .header__nav--bottom-center--icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header__nav--bottom-2 .fa-bars {
    padding: 10px 14px;
    border: 1px solid black;
  }

  .header__nav--bottom-2 input {
    border-radius: 100px;
  }
}

/*  Mobile */

@media (max-width: 480px) {
}
/* SECTION */
.section__container {
  position: relative;
  width: 100%;
  background: url(https://prestashop.eoscosmetic.com/at_edmart/themes/at_edmart/assets/img/modules/appagebuilder/images/background-top.jpg);
  background-position: center center;
  background-size: 200%;

  background-repeat: no-repeat;
  height: max-content;
}

.section__content {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 115px;
}
.section .section__content--description {
  color: var(--white);
}
.section__content--description h4 {
  font-size: 62px;
  font-weight: 700 !important;
  margin-bottom: 24px;
}
.section__content--description p {
  font-size: 22px;
  margin: 0px 0px 62px 0px;
}

.section__content--description-input--container {
  display: flex;
  padding: 0px 250px;
  text-align: center;
  justify-content: center;
}
.section__content--description-input {
  position: relative;
  outline: none;
  display: flex;
  margin-right: 10px;
}
.section__content--description-input .input,
.section__content--description-input--search input {
  height: 60px;
}

.section__content--description-input-1 .section__content--option {
  position: absolute;
  text-align: left;
  bottom: 60px;
  width: 100%;
  left: 0;
  top: 50px;
  border-radius: 5px;
  margin-top: 4px;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.5s ease;
  background-color: white;
  z-index: 5 !important;
  visibility: hidden;
}
.section__content--description-input-1 .section__content--option input {
  width: 100%;
  margin-bottom: 30px;
  padding: 10px;
  outline: 1px solid rgba(0, 0, 255, 0.402);
  border: 1px solid #d9d9d9;
  border-radius: 1px;
}
.section__content--description-input-1 ul {
  background-color: #fff;
  padding: 10px;
}
.section__content--description-input-1:hover .section__content--option {
  opacity: 1;
  transform: translateY(10px);
  visibility: visible;
  z-index: 9999999999 !important;
  visibility: visible;
}
.section__content--option li {
  border-top: 1px solid #d9d9d9;
  padding: 10px 5px;
  color: var(--black-100);
}
.section__content--option li:hover {
  color: var(--green-50);
  cursor: pointer;
}
.section__content--description-input .input {
  padding: 0 5px;
  border: none;
  outline: none;
  padding-left: 28px;
  color: var(--black-50-cart);
  letter-spacing: 1px;
  font-size: 14px;
  cursor: pointer;
}
.section__content--description-input .input:not(.input1):hover {
  background-color: var(--black-50);
}
.section__content--description-input .stt {
  position: absolute;
  line-height: 60px;
  left: 10px;
  color: var(--black-50-cart);
  font-weight: 300;
  font-size: 14px;
}
.section__content--description-input i {
  position: absolute;
  right: 10px;
  line-height: 60px;
}
.section__content--description-input button {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-600);
  display: none;
}

.section__content--description-input--search i {
  color: var(--white);
  background-color: var(--green-50);
  height: 60px;
  width: 100px;
  line-height: 60px;
  border-radius: 0 50px 50px 0;
  transition: 0.5s ease;
  display: block;
  z-index: 19099;
}

/* VEHICLE SECTION RESPONSIVE */
/* Small screens, laptops */

@media (max-width: 1024px) {
  .section__container {
    background-size: cover;
    background-size: 350%;
  }
  .section__content {
    padding: 0;
  }
  .section__content--description-input--container .btn__gr {
    padding-bottom: 28px;
    flex-direction: column;
  }
  .section__content--description-input--container {
    padding: 0 10px;
  }

  .section__content--description-input--container .btn__gr .btn__item {
    width: 100%;
  }
  .section__content--description {
    padding-top: 80px;
  }
  .section__content--description h4 {
    font-size: 40px;
  }
  .section__content--description p {
    font-size: 22px;
  }
  .btn__gr .last {
    width: 100% !important;
  }
  .btn__gr .btn__item .first,
  .last,
  button {
    border-radius: 5px !important;
  }
  .btn__gr .btn__item {
    margin-bottom: 7px;
  }
  .btn__gr .last {
    margin-bottom: 20px;
    height: 52px !important;
  }
  .section__content--option li {
    padding: 20px 5px;
  }
}
/* /*  iPads, Tablets */
@media (max-width: 768px) {
  .section__content--description h4 {
    font-size: 20px;
  }
  .section__content--description {
    padding-top: 0;
  }
  .section__content--description {
    padding-top: 53px;
  }
  .section__container {
    background-size: 400%;
  }
  .section__content {
    padding-bottom: 50px;
  }
}

/*  Mobile */

@media (max-width: 480px) {
  .section__container {
    background-size: 620%;
  }
}
/* FEATURE SECTION */

.feature___container--item-image {
  position: relative;
  background-color: #e6e6e6;
  padding: 30px;
  border-radius: 100%;
  text-align: center;
  margin-right: 30px;
}

.feature___container--item-image img {
  position: absolute;
  top: 4px;
  width: 90%;
  height: 90%;
  object-fit: contain;
  transition: 0.5s ease;
}
.feature___container--item-image:hover {
  background-color: #cecece;
}
.feature___container--item-image:hover img {
  top: -3px;
}
.feature___container {
  padding: var(--section-padding) var(--container-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section__content--description-input--search:hover i {
  cursor: pointer;
  background-color: rgb(228, 228, 10);
  border-radius: 0 50px 50px 0;
}
.feature___container--item {
  display: flex;
  align-items: center;
  z-index: 100;
  cursor: pointer;
}
.feature___container--item:hover h3 {
  color: var(--green-50);
}
.feature___container--item--des {
  font-size: 14px;
  color: var(--black-50);
  font-weight: 300;
}
.feature___container--item-info .feature___container--item--title {
  margin-bottom: 15px;
}
.feature___container--item-info .feature___container--item--title:hover {
  color: var(--green-50);
}
/* FEATUTE RESPONSIVE */
@media (max-width: 1024px) {
  .feature___container--item {
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }
  .feature___container--item-image img {
    top: 16px;
    left: 36px;
  }
  .feature___container--item-info {
    margin-top: 15px;
  }
  .feature___container {
    padding: 32px 0px !important;
  }
}
@media (max-width: 768px) {
  .feature___container {
    flex-wrap: wrap;
  }
  .feature___container--item {
    width: calc(100% / 2);
    display: flex;
    flex-direction: row;
    text-align: left;
  }
  .feature___container--item {
    padding: 0px 18px;
    margin-bottom: 30px;
  }
  .feature___container--item-info {
    margin-top: 15px;
    padding-left: 7px;
  }
  .feature___container--item-image img {
    top: 7px;
    left: 24px;
  }
}

@media (max-width: 480px) {
  .feature___container--item {
    width: 100%;
    margin-bottom: 40px;
  }
}

/* BANNER SECTION */
.banner___container {
  padding: 0 var(--container-padding);
  display: flex;
}
.banner-item {
  overflow: hidden;
  border-radius: 4px;
}
.banner-item img {
  transition: 0.5s ease;
  object-fit: contain;
}
.banner___container .banner-item--1,
.banner-item--2 {
  margin-right: 27px;
}
.banner-item:hover img {
  scale: 1.1;
}
/* SECTION__OPTION */
.product__container {
  padding: 0 var(--container-padding);
}
.option__container .option__list {
  display: flex;
}
.option__container .option__list li:not(:first-child) {
  text-transform: uppercase;
}
.option__container .option__list li:nth-child(1) {
  padding-bottom: 15px;
  border-bottom: 3px solid black;
}
.option__container .option__list li {
  margin-right: 30px;
  cursor: pointer;
}

.option__container .option__list li:not(:first-child) {
  color: var(--black-100);
  font-weight: 300;
}
.option__container {
  padding: 40px var(--container-padding);
  font-size: 14px;
  display: flex;
  margin: 25px 0;
}
.option__container .option__list li:hover {
  color: var(--green-50);
}
/* BANNER RESPONSIVE */
@media (max-width: 1024px) {
  .feature___container {
    padding: 0;
  }
  .banner-item {
    width: calc(100% / 2);
    margin: 0 !important;
  }
  .banner-item img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .banner___container {
    flex-wrap: wrap;
  }
  .banner-item {
    width: calc(100% / 1);
    margin: 0 0 10px 0 !important;
  }
}

@media (max-width: 480px) {
  .feature___container--item {
    width: 100%;
    margin-bottom: 40px;
  }
}

/* SECTION__PRODUCT */
.product__container {
  padding: 0px var(--container-padding);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.product__item img {
  margin-bottom: 20px;
}
.product__item span {
  color: #333333;
  font-size: 13px;
  transition: 0.3s ease;
}
.product__item {
  text-align: center;
  border: 1px solid var(--black-200);
  width: 12.3%;
  height: 180px;
  cursor: pointer;
  overflow: hidden;
  font-size: 14px;
  background-color: var(--white);
}
.product__item:hover span {
  color: var(--green-50);
}

/* PRODUCT RESPONSIVE */
@media (max-width: 1024px) {
  .option__container ul li:not(:first-child) {
    display: none;
  }
  .product__container {
  }
  .product__container .product__item {
    width: calc(100% / 4);
  }
}
@media (max-width: 768px) {
  .product__container .product__item {
    width: calc(100% / 3);
  }
}

@media (max-width: 480px) {
  .product__container .product__item {
    width: calc(100% / 2);
  }
}
/* SECTION DEAL */
.deal__container {
  padding: 40px var(--container-padding);
  display: flex;
  align-items: center;
  margin: 35px 0;
}
.deal__product--item-des {
  font-size: 14px;
  color: #333333;
  font-weight: 400;
}
.deal__product--item-des:hover :nth-child(1) {
  color: var(--green-50);
}

.deal__product--item-name:hover {
  color: var(--green-50);
}
.deal__container .deal__time {
  display: flex;
  align-items: center;
}
.deal__container .deal__text {
  font-weight: 500;
  font-size: 25px;

  padding-right: 20px;
}
.deal__container .deal__time div {
  margin-right: 8px;
  line-height: 40px;
  text-align: center;
  color: var(--white);
}
.deal__container .deal__time div:nth-child(1) {
  transform: skew(-16deg);
  width: 50px;
  height: 40px;
  background-color: var(--green-50);
}
.deal__container .deal__time div:nth-child(2) {
  transform: skew(-16deg);
  width: 40px;
  height: 40px;
  background-color: var(--red-900);
}
.deal__container .deal__time div:nth-child(3) {
  transform: skew(-16deg);
  width: 40px;
  height: 40px;
  background-color: var(--green-50);
}
.deal__container .deal__time div:nth-child(4) {
  transform: skew(-16deg);
  width: 40px;
  height: 40px;
  background-color: var(--green-50);
}
/* DEALL PRODUCT  */
.deal__product--container {
  padding: 0px var(--container-padding) var(--section-padding);
  display: flex;
  justify-content: space-between;
}
.deal__product--item {
  position: relative;
  width: calc(100% / 5);
  border: 1px solid var(--black-600);
  padding: 10px 30px;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--white);
  height: 430px;
}
.deal__product--item h4 {
  margin: 0 0 20px 0;
  font-size: 14px;
}
.deal__product--item h3 {
  margin: 20px 0;
  color: var(--black-900);
  font-size: 15px;
}
.deal__product--item h2 {
  margin: 30px 0;
  font-size: 18px;
  color: var(--black-900);
}
.deal__product--item .deal__product--item-start i {
  font-size: 12px;
  color: var(--white-50);
}
.deal__product--item .deal__product--item-list--icon {
  display: flex;
  position: absolute;
  transform: translateX(100px);
  top: 120px;
  opacity: 0;
  transition: 0.5s ease;
}
.deal__product--item:hover .deal__product--item-list--icon {
  transform: translateX(35px);
  top: 120px;
  opacity: 1;
}
.deal__product--item-img {
  position: absolute;
  top: 0;
}
.deal__product--meta {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 30px;
  width: 100%;
}
.deal__product--item .img-2 {
  display: none;
}

.deal__product--item:hover .img-2 {
  display: block;
}
.deal__product--item:hover .img-1 {
  display: none;
}
.deal__product--item-img {
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
}
.deal__product--item-img img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.deal__product--item .deal__product--item-list--icon i {
  font-size: 15px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--white);
  text-align: center;
  color: var(--black-50);
  line-height: 40px;
  position: relative;
}
.deal__product--item-list--icons {
  display: none;
}
.deal__product--item .deal__product--item-list--icon i:hover h4 {
  transform: translateX(12px);
  opacity: 1;
}
.deal__product--item .deal__product--item-list--icon i:hover {
  color: var(--white);
  background-color: var(--green-50);
  transition: 0.5s ease;
  cursor: pointer;
}
.deal__product--item .deal__product--item-button {
  padding: 15px;
  text-align: center;
  border-radius: 100px;
  border: 0.5px solid var(--black-600);
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  width: 80%;
  border: 1px solid black;
  font-weight: 300;
}

.deal__product--item:hover .deal__product--item-button {
  opacity: 1;
  transform: translateY(-45px);
}
.deal__product--item-price {
  transition: 0.5s ease;
  color: #333333;
  font-weight: 300;
  padding: 25px 0;
  font-size: 18px;
}

.deal__product--item:hover .deal__product--item-price {
  opacity: 0;
  transform: translateY(-30px);
}
.deal__product--item:hover .deal__product--item-button:hover {
  background-color: var(--green-50);
  color: var(--white);
  border: none;
  outline: none;
}
/* DEAL RESPONSIVE */
@media (max-width: 1024px) {
  .deal__product--container {
    flex-wrap: wrap;
    box-sizing: content-box;
  }
  .deal__product--item {
    width: calc(100% / 2) !important;
    height: 545px;
  }
  .deal__product--item-list--icons {
    display: block;
  }
  .deal__product--item:not(:nth-child(1)):not(:nth-child(2)):not(
      .trending___product--container-coppy .missing
    ) {
    display: none;
  }

  .deal__product--item:hover .deal__product--item-list--icon {
    display: none;
  }

  .deal__product--item .deal__product--item-list--icons {
    opacity: 1;
    transition: 0.5s ease;
  }
  .deal__product--item .deal__product--item-list--icons i h4 {
    background-color: rgb(29, 28, 28);
    border-radius: 12px;
    font-size: 7px;
    font-weight: 500;
    color: white;
    position: absolute;
    top: -40px;
    right: 0;
    transform: translateX(20px);
    opacity: 0;
    transition: 0.5s ease;
    width: max-content;
    z-index: 1;
    line-height: 20px;
    padding: 5px 7px;
  }

  .deal__product--item .deal__product--item-list--icons i {
    font-size: 15px;
    width: 40px;
    height: 40px;
    left: 0;
    top: -33px;
    border-radius: 100%;
    background-color: var(--white);
    border: 1px solid var(--black-200);
    box-shadow: -3px 3px 3px var(--black-600);
    text-align: center;
    color: var(--black-50);
    line-height: 40px;
    position: relative;
  }

  .deal__product--item .deal__product--item-list--icons i:hover h4 {
    transform: translateX(10px);
    opacity: 1;
  }
  .deal__product--item .deal__product--item-list--icons i:hover {
    color: var(--white);
    background-color: var(--green-50);
    transition: 0.5s ease;
    cursor: pointer;
  }
  .deal__product--item-name {
    white-space: nowrap;
  }
}
@media (max-width: 768px) {
  .deal__product--item {
    width: calc(100% / 1) !important;
    height: 620px;
  }
  .deal__product--item:not(:nth-child(1)) {
    display: none;
  }
}

@media (max-width: 480px) {
  .deal__container {
    flex-direction: column;
    padding: 0 !important;
    text-align: left;
  }
  .deal__product--item {
    width: calc(100% / 1) !important;
    height: 459px;
  }
}
/* BRAND CONTAINER SECTION */
.brand__container {
  padding: 0 var(--container-padding);
}
.brand__content {
  overflow: hidden;
}
.brand__content .brand__content--title {
  margin: 40px 0;
  font-size: 25px;
}

.brand_images {
  display: flex;
  animation: slideAnimation 7s infinite;
}
.deal__product--item .deal__product--item-list--icon i h4 {
  background-color: rgb(29, 28, 28);
  border-radius: 12px;
  font-size: 7px;
  font-weight: 500;
  color: white;
  position: absolute;
  top: -40px;
  right: 0;
  transform: translateX(20px);
  opacity: 0;
  transition: 0.5s ease;
  width: max-content;
  z-index: 1;
  line-height: 20px;
  padding: 5px 7px;
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.trending___product--container .toptreding__product--item {
  width: calc(95%/5);
  }
.brand_images img {
  width: calc(100% / 7);
  border: 0.5px solid var(--black-600);
}
/* BRAND RESPONSIVE */
@media (max-width: 1024px) {
  .brand_images img {
    width: calc(100% / 4);
  }
  .trending___product--container .deal__product--item {
    width: calc(97% / 2) !important;
  }
}
@media (max-width: 768px) {
  .brand_images img {
    margin-right: 25px;
  }
  .trending___product--container .deal__product--item {
    width: calc(100% / 1) !important;
  }
  .brand_images {
    justify-content: space-between;
  }
}
@media (max-width: 480px) {
  .brand_images img {
    width: calc(100% / 2);
    margin-right: 0;
  }
}
/* POPULAR PRODUCT */
.trending___product--container {
  padding: 40px var(--container-padding);
}
.trending___product--container .trending__product--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px 0 20px 0;
  border-bottom: 1px solid var(--black-300);
  padding-bottom: 10px;
}
.trending___product--container .trending__product--title div {
  font-size: 25px;
}
.trending___product--container .trending__product--title span {
  color: var(--black-100);
  font-weight: 300;
}
.trending__product--title span:hover {
  color: var(--green-50);
}
.trending___product--container .trending__product--title div:hover {
  color: var(--green-50);
}
.trending__product--title-des span {
  margin-left: 35px;
  cursor: pointer;
  font-size: 14px;
}
.trending__product--title-des span:hover {
  color: var(--green-50);
}
.trending___product--container .trending__product--items {
  display: flex;
  justify-content: space-between;
  box-sizing: content-box;
  box-sizing: border-box;
}
.deal__product--item-price-2 {
  display: flex;
  justify-content: space-between;
  padding: 25px 0 25px 0;
}
.deal__product--item-price-2 div {
  font-size: 18px;
  color: var(--black-100);
  font-weight: 300;
}
.deal__product--item-price-2 i {
  color: var(--black-100);
  font-size: 23px;
}
.trending___product--container .deal__product--item-footer i {
  display: block;
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: var(--black-900);
}
.deal__product--item-name {
  color: #0062bd;
  font-weight: 300;
  margin: 20px 0;
}
.deal__product--item-name h3:hover {
  color: var(--green-50);
}
/* SPECIAL OFFERS SECTION */
.special__offers--container {
  padding: 0px var(--container-padding);
}
.special__offers--container .special__offers--content {
  background-image: url("https://movic.b-cdn.net/at_edmart/themes/at_edmart/assets/img/modules/appagebuilder/img/banner-6.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 130px 25px 190px 25px;
  border-radius: 5px;
}
.special__offers--container .special__offers--content h2 {
  color: var(--white);
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  padding: 15px 0;
}
.special__offers--container .special__offers--content input {
  padding: 17px 15px;
  background: transparent;
  border: 2px solid #e5e5e5;
  color: #fff;
  height: 45px;
  width: 480px;
  border-bottom-left-radius: 28px;
  border-top-left-radius: 28px;
}
.special__offers--content-input input {
  outline: none;
}
.special__offers--content-input {
  display: flex;
  align-items: center;
}
.special__offers--container span {
  display: inline-block;
  line-height: 45px;
  padding: 0 15px;
  margin-left: -10px;
  background-color: #2e73ba;
  border-bottom-right-radius: 28px;
  border-top-right-radius: 28px;
  font-weight: 700;
  transition: .5s ease;
}
.special__offers--container span:hover {
  cursor: pointer;
  background-color: var(--green-50);
}
/* SPECIAL RESPONSIVE */
@media (max-width: 1024px) {
  .special__offers--container .special__offers--content {
    background-size: 200%;
    background-position: left;
  }
  .special__offers--container .special__offers--content h2 {
    text-align: center;
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .special__offers--content {
    padding: 40px 14px 50px 14px !important;
  }

  @media (max-width: 480px) {
    .special__offers--container .special__offers--content {
      background-size: 400%;
      height: 100%;
    }
    .special__offers--container .special__offers--content {
      background-size: 700% !important;
    }
  }
  .special__offers--content {
    background-size: 501% !important;
    background-position: left;
  }
  .special__offers--content-input {
    flex-direction: column;
  }
  .special__offers--content-input input {
    width: 100% !important;
    border-bottom-right-radius: 28px;
    border-top-right-radius: 28px;
    margin: 15px 0;
    outline: none !important;
  }
  .special__offers--container span {
    width: 100%;
    border-bottom-left-radius: 28px;
    border-top-left-radius: 28px;
    text-align: center;
  }
  .special__offers--container {
    margin-bottom: 100px;
  }
}
/* POPULAR RESPONSIVE */
@media (max-width: 1024px) {
  .toptreding__product--item {
    width: calc(96% / 2);
  }
  .trending__product--title-des {
    display: none;
  }
}
@media (max-width: 769px) {
  .toptreding__product--item {
    width: calc(96% / 1);
  }
  .deal__product--item-price-2 {
    display: flex;
    padding: 25px 0 28px 0;
  }
}

/*  SECTITON PRODUCT MISSING IMAGE */
.trending___product--container-coppy {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.trending___product--container-coppy .deal__product--item {
  width: calc(88% / 5);
}
.trending___product--container-coppy .deal__product--item:nth-child(4) {
  margin-right: 25px;
}
.trending___product--container-coppy .missing {
  padding: 0;
}
.trending___product--container-coppy .missing {
  width: 25%;
}
.trending___product--container-coppy .missing img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  MISSING IMAGE REPONSIVE */
@media (max-width: 1024px) {
  .trending___product--container-coppy .deal__product--item {
    width: calc(100% / 3) !important;
    height: 430px !important;
  }
  .trending___product--container-coppy .missing {
    width: calc(75% / 3) !important;
    height: calc(430px / 2) !important;
    object-fit: contain;
  }
}
@media (max-width: 678px) {
  .trending___product--container-coppy .deal__product--item {
    width: calc(96% / 2) !important;
  }
  .trending___product--container-coppy .missing {
    height: calc(430px / 4 * 3) !important;
    display: block;
  }
  @media (max-width: 480px) {
    .trending___product--container-coppy .deal__product--item {
      width: 100% !important;
    }
    .trending___product--container-coppy {
      flex-wrap: wrap;
    }
    .trending___product--container-coppy .missing {
      height: 450px;
    }
  }
}
/* TESTIMONIAL SECTION */
.testimonial__container {
  padding: 0 var(--container-padding);
}
.testimonial__container .testimonial__item {
  padding: 20px 0;
}
.testimonial__container .testimonial__item i {
  color: #777777;
}
.testimonial__container .testimontial__child {
  background-color: var(--white);
  padding: 40px;
  border-radius: 5px;
}
.testimonial__container .testimonial__content--title {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--black-600);
  font-size: 25px;
}
.testimonial__container .testimonial__items {
  display: flex;
  justify-content: space-between;
}
.testimonial__container .testimonial__item {
  width: calc(85% / 3);
}
.testimonial__container .testimonial__item--description {
  padding-bottom: 30px;
  font-size: 0.875rem;
  color: #777;
  font-weight: 300;
  line-height: 22px;
  padding-left: 25px;
}
.testimonial__container .testimonial__item---info {
  display: flex;
  align-items: center;
}
.testimonial__container .testimonial__item---info img {
  border-radius: 100%;
  width: 47px;
  height: 47px;
  margin-right: 10px;
}
.testimonial__item--position p:nth-child(1) {
  color: #2f2e2e;
  font-size: 16px;
  margin: 10px 0;
}
.testimonial__item--position p:nth-child(2) {
  color: #666;
  font-size: 15px;
  margin: 10px 0;
}
.testimonial__item--position p {
  margin: 10px 0;
}
.testimonial__tow--dot {
  width: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 40px;
}
.testimonial__tow--dot div {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin-right: 6px;
  background-color: var(--black-50);
}
/* TESTIMONIAL RESPONSIVE */

@media (max-width: 1024px) {
  .testimontial__child {
    padding: 30px;
    overflow: hidden;
  }
  .testimonial__content--title {
    font-size: 16px !important;
  }
  .testimonial__items {
    flex-wrap: nowrap;
    width: max-content;
  }
  .testimonial__item {
    width: 362px !important;
    padding: 30px !important;
  }
}
@media (max-width: 768px) {
  .testimonial__item {
    margin-right: 100px;
  }
}
@media (max-width: 480px) {
  .testimontial__child {
    padding: 30px !important;
  }
  .testimonial__item {
    padding: 0 150px 0 0 !important;
  }
}
/* POPULAR ARICLES CONTAINER */
.popular__aricles--container {
  padding: 40px var(--container-padding);
}
.popular__aricles--content {
  background-color: var(--white);
  padding: 40px;
  border-radius: 6px;
  overflow: hidden;
}
.popular__aricles--content .popular__aricles--content-title div {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--black-600);
  font-size: 25px;
}
.popular__aricles--items {
  display: flex;
  margin: 20px 0;
  width: max-content;
  /* animation: slideAnimation 10s forwards infinite; */
}
.popular__aricles--item {
  display: flex;
  margin-right: 10px;
  width: 670px;
}
.popular__aricles--item img {
  margin-right: 25px;
}

.popular__aricle--item-name div {
  color: #0062bd;
  font-size: 21px;
  margin-bottom: 10px;
}
.popular__aricle--item-date,
.popular__aricle--item-description {
  color: var(--black-100);
}
.popular__aricle--item-description {
  font-size: 14px;
  color: #898989;
  font-weight: 300;
  line-height: 24px;
}
.popular__aricle--item-date {
  font-size: 13px;
  display: flex;
}
.popular__aricle--item-date div {
  margin-right: 20px;
  color: #999999;
  margin-bottom: 23px;

  font-weight: 300;
}
.popular__aricle--item-read button {
  text-align: center;
  background-color: var(--black-900);
  padding: 15px 25px;
  border: none;
  border-radius: 100px;
  background-color: #333;
  color: var(--white);
  margin-top: 23px;
  transition: 0.5s ease;
}
.popular__aricle--item-read button:hover {
  background-color: var(--green-50);
}
/* POPULAR RESPONSIVE */
@media (max-width: 1024px) {
  .popular__aricles--item {
    flex-direction: column;
    width: 350px;
    padding: 20px;
  }
  .popular__aricles--item button {
    border-radius: 100px !important;
  }
}
@media (max-width: 768px) {
  .popular__aricles--item {
    width: 434px;
  }
}
@media (max-width: 450px) {
  .popular__aricles--content-title div {
    font-size: 16px !important;
  }
  .popular__aricles--content {
    padding: 0;
  }
  .popular__aricles--item {
    width: 300px;
  }
  .popular__aricles--item img {
    width: 95%;
  }
}
/* TYPE CONTAINER */
.type__container {
  padding: 0 var(--container-padding);
}

.type__content--items {
  display: flex;
  align-items: center;
}
.type__content--items .item {
  width: calc(100% / 5);
  align-items: center;
  display: flex;
}
.type__content--items .item i {
  margin-right: 15px;
  font-size: 40px;
  color: var(--green-50);
}
.type__content--items .item .item__info {
  line-height: 30px;
  margin-top: 10px;
}
.type__content--items .item .item__info span {
  font-size: 15px;
  color: #333333;
}
.type__content--items .item .item__info p {
  font-size: 14px;
  color: #999999;
  font-weight: 300;
}
/* TYPE RESPONSIVE */
@media (max-width: 1024px) {
  .type__content--items {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .type__content--items .item {
    width: calc(90% / 3);
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .type__content--items .item {
    width: calc(90% / 1);
    margin-top: 30px;
  }
}
/* FOOTER */
.footer {
  margin-top: 53px;
  padding: 53px var(--container-padding);
  background-image: url("https://movic.b-cdn.net/at_edmart/themes/at_edmart/assets/img/modules/appagebuilder/img/banner-8.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  background-size: cover;
}
.footer__content .items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_top--info {
  width: calc(100% / 5);
  margin-right: 40px;
}
.footer_top--info-icon {
  color: var(--green-50);
  margin-bottom: 17px;
}
.footer_top--info-icon span {
  font-size: 14px;
  font-weight: 500;
  padding-right: 12px;
}
.footer_top--info-icon i {
  font-size: 16px;
  padding-right: 12px;
}
.footer_top--info-phone {
  font-size: 28px;
  color: var(--white);
}
.footer__center {
  margin-top: 40px;
}
.footer__center-des-detail {
  font-size: 14px;
  color: #fff;
  background: #5faf4b;
  padding: 17px 32px;
  border-radius: 50px;
  display: flex;
  width: max-content;
  align-items: center;
}

.footer__top .location i {
  margin-right: 15px;
  font-size: 30px;
}
.footer__top .location p {
  font-size: 14px;
  font-weight: 300;
}
.footer__center {
  display: flex;
  justify-content: space-between;
}
.footer__center .footer__center--col {
  width: calc(100% / 5);
  margin-right: 40px;
  margin-bottom: 20px;
}
.footer__center-des p {
  font-size: 14px;
  color: #777777;
  line-height: 24px;
  padding-bottom: 40px;
  font-weight: 300;
}
.footer__center--col h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 1.875rem 0;
  margin: 0 0 17px;
  padding-left: 0;
}
.footer__center--col li {
  color: #999999;
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 300;
}
.footer__center-des--icons i {
  font-size: 14px;
  color: #999999;
  border: 1px solid #999999;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin-right: 3px;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease;
}
.footer__center-des--icons .fa-facebook:hover,
.fa-twitter:hover,
.fa-headphones:hover,
.fa-instagram:hover {
  background-color: var(--white);
  color: #0062bd;
}
.footer__center-des--icons .fa-youtube:hover {
  background-color: var(--white);
  color: red;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  color: #999999;
  padding: 35px 12px 0 12px;
  font-weight: 300;
  font-size: 14px;
}
.footer__bottom span {
  color: var(--green-50);
}
.toptreding__product--item,
.pop__product--item {
  width: calc(95%/5);
}
.fixed__item {
  position: fixed;
  bottom: 35px;
  right: 12px;
  width: max-content;
}
.fixed__item .fa-comments {
  height: 50px;
  width: 50px;
  background-color: #0099ff;
  border-radius: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: var(--white);
  font-weight: 300;
  cursor: pointer;
  transition: 0.5s ease;
  margin-left: 20px;
}
.fixed__item .fa-comments:hover {
  transform: rotate(350deg);
}
.fixed__item-point {
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.5s ease;
}
.fixed__item-point:hover {
  color: var(--green-50);
  cursor: pointer;
}
.fixed__item-point i {
  margin-top: 10px;
  margin: 15px 0;
  font-size: 20px;
}
.fixed__item-point p {
  font-weight: 300;
  font-size: 15px;
}
.btn__gr {
  display: flex;
  width: 100%;
  justify-content: center;
}
.btn__gr .btn__item {
  width: calc(100% / 4);
  margin-right: 5px;
  position: relative;
  outline: none;
  color: #666666;
}
.footer__center--row li:hover {
  color: var(--green-50);
  cursor: pointer;
}
.btn__item i {
  font-size: 12px;
}
.btn__gr .btn__item button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 20px;
  color: #333;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn__gr .btn__item button:not(.btn__item .first):hover {
  cursor: not-allowed;
  background-color: #acaaa6fb;
}
.btn__gr .btn__item .first {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.btn__gr .last {
  color: var(--white);
  background-color: var(--green-50);
  height: 60px;
  width: 110px;
  border-radius: 0 50px 50px 0;
  transition: 0.5s ease;
  border: none;
}
.btn__gr .last button {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
}
.btn__gr .last:hover {
  cursor: pointer;
  background-color: var(--yellow-100);
  border-radius: 0 50px 50px 0;
}
.btn__item .dive {
  margin: 0 4px;
}
.footer-2 {
  display: none;
}

/*

/* FOOTER RESPONSIVE */
@media (max-width: 1024px) {
  .footer {
    display: none !important;
  }
  .footer {
    padding: 0;
  }
  .footer-2 {
    display: block !important;
  }
  .footer-2 {
    display: block;
  }
  .footer__phone--sub {
    display: flex;
    align-items: center;
    margin: 30px 0;
  }
  .footer__top {
    display: flex;
    flex-direction: column;
  }
  .footer__center {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .footer___bottom--info {
    display: flex;
  }
  .footer__center-des {
    width: 100% !important;
    text-align: center;
  }
  .footer__center-des p {
    text-align: left;
  }
  .footer_top--info-icon {
    display: flex;
    align-items: center;
  }
  .footer_top--info-icon span {
    white-space: nowrap;
  }
  .footer__phone--sub {
    width: 100%;
  }
  .footer_top--info {
    margin-right: 130px;
  }
  .footer_top--info-phone {
    font-size: 22px;
  }
  .footer_top--img {
    margin: 0;
  }
  .footer__content {
    padding: 50px 10px !important;
  }
  .footer__bottom {
    border-top: 1px solid white;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }
  .footer__bottom .footer__bottom--sign {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .footer__phone--sub {
    flex-direction: column;
  }
  .footer__phone--sub .footer_top--info {
    margin: 10px 0;
    width: 100%;
  }
  .footer___bottom--info .footer__center--col {
    width: 100%;
  }
  .footer__center--col,
  .footer__center--col h4 {
    margin: 0;
  }
  .footer__center--col .footer__center--row {
    visibility: hidden;
    opacity: 0;
    transition: .5s ease;
    height: 0px;
  }
  .footer___bottom--info {
    flex-direction: column;
  }
  .footer__center--col h4 {
    white-space: nowrap;
    padding: 15px 0;
  }
  .footer__center-des--icons {
    text-align: left;
    margin-bottom: 40px;
  }
  .footer__center--col {
    margin: 0 !important;
  }
  .footer__center--col .fa-chevron-down {
    display: block !important;
  }
  .footer___bottom--info .footer__center--col-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer___bottom--info .footer__center--col:hover .footer__center--row {
       visibility: visible;
    opacity: 1;
     height: 100%;
  }
  .footer__center--col i {
    color: var(--black-100);
  }
  .footer__bottom {
    margin-top: 10px;
    width: 80%;
  }
  .footer__bottom--sign {
    margin-bottom:30px !important;
  }
}
@media(max-width: 380px) {
  .footer__bottom {
    padding: 30px 0 ;
    width: 100%;
  }
  .footer__bottom img {
    width: 93%;
  }  .footer-center {
    margin: 0;
  }
}
