@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    width: 100%;
  }
  .header__nav--top {
     padding: 17px 25px;
  }
  .header__nav--top-left .account {
    display: block;
    font-size: 12px;
  }
 .wish {
     display: none;
 }
 .header__nav--bottom {
     padding: 0 var(--container-tablet--padding);
 }
 .phone__text .menu {
     display: block;
 }
 .phone__text p, .header__nav--bottom-left--phone .phone__icon {
     display: none;
 }
 .section__content {
     padding: 70px;
     display: flex;
     flex-direction: column;
 }
 .section__content h4 {
     font-size: 40px;
 }
 .feature___container {
     padding: 0;
 }
 .feature___container--item {
     flex-direction: column;
     text-align: center;
 }
 .banner___container {
     padding: 0;
 }
 .banner-item img {
     object-fit: contain;
     object-position: center;
 }
 .header__top, .option__container,.testimonial__container,.popular__aricles--container,.type__container, .footer, .brand__container,.special__offers--container,  .trending___product--container, .product__container, .deal__container , .deal__product--container{
     padding: 0;
 }
 .deal__product--container {
     flex-wrap: wrap;
 }
 .product__item {
     width: calc(100%/4);
 }
 .deal__product--item {
     width: calc(100%/2) !important;
 }
  .brand_images img {
     width: calc(100%/3);
  }
  .trending__product--items {
     flex-wrap: wrap;
  }
  .toptreding__product--item {
        width: calc(140%/2);
  }
  .toptreding__product--item, .pop__product--item {
       margin-right: 0px;
  }

}